{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript"> 
		var code = {{ data.code }}
		var user = {{ data.user_in }}
	</script>
	<script type="text/javascript" src="/static/num.js"></script>
</head>
<body>
	<form action="{{ url_for('form') }}" method = "POST">
	    <p class="big">Input Access Token</p> 
	    <p class="big"><input type = "text" name = "user_in" /></p>
	    <p><input class="btn-4" type = "submit" value = "submit" /></p>
	</form>

</body>
</html>
        

{% endblock content %}