{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Google Calendar API Quickstart</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="row">
      <div class="col">
        <div class="center2">
        <div class="calendar">
        <div class="calendar__picture">
          <h2>10, Tuesday</h2>
          <h3>May</h3>
        </div>
        <div class="calendar__date">
          <div class="calendar__day">M</div>
          <div class="calendar__day">T</div>
          <div class="calendar__day">W</div>
          <div class="calendar__day">T</div>
          <div class="calendar__day">F</div>
          <div class="calendar__day">S</div>
          <div class="calendar__day">S</div>
          <div class="calendar__number">1</div>
          <div class="calendar__number">2</div>
          <div class="calendar__number">3</div>
          <div class="calendar__number">4</div>
          <div class="calendar__number">5</div>
          <div class="calendar__number">6</div>
          <div class="calendar__number">7</div>
          <div class="calendar__number">8</div>
          <div class="calendar__number">9</div>
          <div class="calendar__number_today">10</div>
          <div class="calendar__number">11</div>
          <div class="calendar__number">12</div>
          <div class="calendar__number">13</div>
          <div class="calendar__number">14</div>
          <div class="calendar__number">15</div>
          <div class="calendar__number">16</div>
          <div class="calendar__number">17</div>
          <div class="calendar__number">18</div>
          <div class="calendar__number">19</div>
          <div class="calendar__number">20</div>
          <div class="calendar__number">21</div>
          <div class="calendar__number">22</div>
          <div class="calendar__number">23</div>
          <div class="calendar__number">24</div>
          <div class="calendar__number">25</div>
          <div class="calendar__number">26</div>
          <div class="calendar__number">27</div>
          <div class="calendar__number">28</div>
          <div class="calendar__number">29</div>
          <div class="calendar__number">30</div>
          <div class="calendar__number">31</div>
        </div>
      </div>
      </div>
    </div>
    <div class = "col">
      <button class="btn-5" id="authorize_button" style="display: none;">Authorize</button>

      <hr size="10px">

      <pre id="content" style="white-space: pre-wrap; color: white;"></pre>

      <button class="btn-5"id="signout_button" style="display: none;">Sign Out</button>

      <hr size="10px">

      <script type="text/javascript">
        // Client ID and API key from the Developer Console
        var CLIENT_ID = "673944149019-84nhe41bnt9d98chugu9uujlu2jnskgt.apps.googleusercontent.com";
        var API_KEY = "AIzaSyArcicIi3Dpg9lgMVNskGvXGoyACMGqtKM";

        // Array of API discovery doc URLs for APIs used by the quickstart
        var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

        // Authorization scopes required by the API; multiple scopes can be
        // included, separated by spaces.
        var SCOPES = "https://www.googleapis.com/auth/calendar.readonly";

        var authorizeButton = document.getElementById('authorize_button');
        var signoutButton = document.getElementById('signout_button');

        /**
         *  On load, called to load the auth2 library and API client library.
         */
        function handleClientLoad() {
          gapi.load('client:auth2', initClient);
        }

        /**
         *  Initializes the API client library and sets up sign-in state
         *  listeners.
         */
        function initClient() {
          gapi.client.init({
            apiKey: API_KEY,
            clientId: CLIENT_ID,
            discoveryDocs: DISCOVERY_DOCS,
            scope: SCOPES
          }).then(function () {
            // Listen for sign-in state changes.
            gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

            // Handle the initial sign-in state.
            updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
            authorizeButton.onclick = handleAuthClick;
            signoutButton.onclick = handleSignoutClick;
          }, function(error) {
            appendPre(JSON.stringify(error, null, 2));
          });
        }

        /**
         *  Called when the signed in status changes, to update the UI
         *  appropriately. After a sign-in, the API is called.
         */
        function updateSigninStatus(isSignedIn) {
          if (isSignedIn) {
            authorizeButton.style.display = 'none';
            signoutButton.style.display = 'block';
            listUpcomingEvents();
          } else {
            authorizeButton.style.display = 'block';
            signoutButton.style.display = 'none';
            clearList();
          }
        }

        /**
         *  Sign in the user upon button click.
         */
        function handleAuthClick(event) {
          gapi.auth2.getAuthInstance().signIn();
        }

        /**
         *  Sign out the user upon button click.
         */
        function handleSignoutClick(event) {
          gapi.auth2.getAuthInstance().signOut();
          clearList();
        }

        /**
         * Append a pre element to the body containing the given message
         * as its text node. Used to display the results of the API call.
         *
         * @param {string} message Text to be placed in pre element.
         */
        function appendPre(message) {
          var pre = document.getElementById('content');
          var textContent = document.createTextNode(message + '\n');
          pre.appendChild(textContent);
        }

        function clearList() {
          var element = document.getElementById('content');

          while (element.firstChild) {
            element.removeChild(element.firstChild)
          }

        }

        /**
         * Print the summary and start datetime/date of the next ten events in
         * the authorized user's calendar. If no events are found an
         * appropriate message is printed.
         */
        function listUpcomingEvents() {
          gapi.client.calendar.events.list({
            'calendarId': 'primary',
            'timeMin': (new Date()).toISOString(),
            'showDeleted': false,
            'singleEvents': true,
            'maxResults': 10,
            'orderBy': 'startTime'
          }).then(function(response) {
            var events = response.result.items;
            appendPre('Upcoming events:');

            if (events.length > 0) {
              for (i = 0; i < events.length; i++) {
                var event = events[i];
                var when = event.start.dateTime;
                if (!when) {
                  when = event.start.date;
                }
                appendPre(event.summary + ' (' + when + ')')
              }
            } else {
              appendPre('No upcoming events found.');
            }
          });
        }

      </script>

      <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
      </script>
      </div>
    </div>
    
  </body>
</html>


{% endblock content %}

