<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What Would You Like to Do?</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
	<div class="container">
		<a href='/chungus'><button class="btn-1"> UPLOAD DOCUMENTS</button>
	</div>
	<div class="container">
		<a href='/spotify'><button class="btn-2"> SPOTIFY</button>	
	</div>
	<div class="container">
		<a href='/home'><button class="btn-3"> CALENDAR</button>	
	</div>
</body>

</html>