{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Playback SDK</title>
</head>
<body>
    <h1>Spotify Web Playback SDK</h1>

    <iframe class="center" id="emurl" frameborder="0" src="https://m.media-amazon.com/images/I/71qVC8cybrL._SX522_.jpg"></iframe>

    <button class="btn-play" id="togglePlay"></button>

    <hr>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>

    <script>

        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = 'BQDI2_jmosmS7kC1ZNeuP9JgmFcPKjtB4GEAEWxyV8g1hs0LxVwBgOssYW6g7MBh3tlR9dcGVg-Jc2c1OInJdII_WUA3RvExsHTKaXm5kdL7JPt-w2OP_ApX9MuceSFp18XdPH34t9yQZVVBKzLS1JEO9xy3_TxcqxY';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };

            player.connect();
        }
    </script>
</body>
</html>
{% endblock content %}



